<p id="notice"><%= notice %></p>

<h1>Tshirts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tshirts.each do |tshirt| %>
      <tr>
        <td><%= link_to 'Show', tshirt %></td>
        <td><%= link_to 'Edit', edit_tshirt_path(tshirt) %></td>
        <td><%= link_to 'Destroy', tshirt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tshirt', new_tshirt_path %>
